node_modules
.next
.DS_Store
.vercel
*.log
.env
.env.local
.env.production
.env.development
runtime-logs
!.env.example
client_secret.json
client_secret_2.json

client_secret.json
client_secret_2.json

client_secret.json
client_secret_2.json
